In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('playnb.csv')

In [3]:
data.head(20)

     weather play
0      sunny   no
1   overcast  yes
2      rainy  yes
3      sunny  yes
4      sunny  yes
5   overcast  yes
6      rainy   no
7      rainy   no
8      sunny  yes
9      rainy  yes
10     sunny   no
11  overcast  yes
12  overcast  yes
13     rainy   no

In [4]:
from sklearn.naive_bayes import GaussianNB

In [5]:
gnb = GaussianNB()
#X = pd.DataFrame(pd.factorize(data.weather)[0])
X = pd.get_dummies(data.weather, drop_first=False)
y = pd.factorize(data.play)[0]

In [6]:
X

    overcast  rainy  sunny
0          0      0      1
1          1      0      0
2          0      1      0
3          0      0      1
4          0      0      1
5          1      0      0
6          0      1      0
7          0      1      0
8          0      0      1
9          0      1      0
10         0      0      1
11         1      0      0
12         1      0      0
13         0      1      0

In [7]:
y

array([0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0])

In [13]:
nb_model = gnb.fit(X, y)
test = [[0,1,0]]
prediction = nb_model.predict(test)

In [14]:
print(prediction)

[0]

In [15]:
prob = nb_model.predict_proba(test)

In [16]:
prob

array([[  9.99988123e-01,   1.18765956e-05]])

In [12]:
nb_model.score(test, ['1'], sample_weight=None)

/Users/dt216661/anaconda/lib/python2.7/site-packages/sklearn/metrics/classification.py:177: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  score = y_true == y_pred

0.0