In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dt_test.csv')
df

  Home   Marital  Income Borrower
0  Yes    Single     125       No
1   No   Married     100       No
2   No    Single      70       No
3  Yes   Married     120       No
4   No  Divorced      95      Yes
5   No   Married      60       No
6  Yes  Divorced     220       No
7   No    Single      85      Yes
8   No   Married      75       No
9   No    Single      90      Yes

In [3]:
c = list(df.columns)
c.remove('Borrower')
X = df[c]
y = df['Borrower']
X=pd.get_dummies(X)
X

,Income,Home_No,Home_Yes,Marital_Divorced,Marital_Married,Marital_Single
0,125,0,1,0,0,1
1,100,1,0,0,1,0
2,70,1,0,0,0,1
3,120,0,1,0,1,0
4,95,1,0,1,0,0
5,60,1,0,0,1,0
6,220,0,1,1,0,0
7,85,1,0,0,0,1
8,75,1,0,0,1,0
9,90,1,0,0,0,1

In [4]:
from sklearn import tree

In [5]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy')
clf = clf.fit(X, y)

In [8]:
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("dt_try")

In [ ]:
target = ['No','Yes']
dot_data = tree.export_graphviz(clf, out_file=None,                          
                                feature_names=X.columns,  
                                class_names= target ,  
                                filled=True, rounded=True,  
                                special_characters=True) 
graph = graphviz.Source(dot_data)  
graph

In [ ]:
df

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("dt_try") 
target = ['No','Yes']
dot_data = tree.export_graphviz(clf, out_file=None,                          
                                feature_names=X.columns,  
                                class_names= target ,  
                                filled=True, rounded=True,  
                                special_characters=True) 
graph = graphviz.Source(dot_data)  
graph

In [ ]:
1-(4/6)^2-(6/10)^2